<div class="container">
    <div [hidden]="submitted">
        <h1>Cadastrar novo semestre</h1>
        <form (ngSubmit)="onSubmit()" #semesterForm="ngForm">
            <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" class="form-control" id="name" required [(ngModel)]="semester.name" name="name" #name="ngModel">
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    O campo de nome é necessário!
                </div>
            </div>

            <button type="submit" class="btn btn-success" [disabled]="!semesterForm.form.valid">Cadastrar!</button>
            <button (click)="goBack()">Voltar</button>
        </form>
    </div>
</div>