<div class="row">
    <div class="col-sm-6 col-md-4 mx-auto" *ngIf="teacher">
        <div class="card card-accent-primary">
            <div class="card-header">
                {{teacher.name}}
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <label class="col-md-3 form-control-label">id: </label>{{teacher.id}}
                </div>
                <div class="form-group row">
                    <label class="col-md-3 form-control-label">Nome: </label>
                    <input [(ngModel)]="teacher.name" placeholder="name" />
                </div>
                <div class="form-group row">
                    <label class="col-md-3 form-control-label">Departamento: </label>
                    <input [(ngModel)]="teacher.department" placeholder="department" />
                </div>
                <div class="form-group row">
                    <label class="col-md-3 form-control-label">Email: </label>
                    <input [(ngModel)]="teacher.email" placeholder="email" />
                </div>
            </div>
            <div class="card-footer">
                <button (click)="goBack()" type="reset" class="btn btn-outline-warning active"><i class="fa fa-ban"></i>Voltar</button>
                <button (click)="save()" type="submit" class="btn btn-outline-success active"><i class="fa fa-dot-circle-o"></i>Salvar</button>
            </div>
        </div>
    </div>
</div>
