<div>
    <router-outlet></router-outlet>
</div>
<div class="col-sm-6 mx-auto">
    <div class="card text-white bg-success">
        <div class="card-header">
            <strong>Saudações!</strong>
        </div>
        <div class="card-body">
            <blockquote class="card-bodyquote">
                <p>Queridos professores, este pequeno pedaço de software, de tempo de desenvolvimento fora de série, foi implementado
                    com todo o carinho por muitos alunos que não merecem ser citados, mas mas importantemente <strong>Igor dos Santos
                    Sant'ana e Nikolas Vago Serafini.</strong>
                </p>

                <p>
                    Foi o piloto e único projeto do que se chamou então de <strong>CDS Ceunes</strong>, que no credo daqueles
                    que implementaram esse sistema, provavelmente não existe mais. Esperamos que os senhores possam usufruir
                    do sistema e abandonar definitivamente as planilhas de excel compartilhadas. Do contrário, falhamos em
                    nosso único propósito.
                </p>

                <footer>Para dúvidas, sugestões e bug reports favor entrar em contato com o professor responsável Leonardo Silvestre em:
                    <strong>leonardo.silvestre@ufes.br</strong>.</footer>

            </blockquote>
        </div>
    </div>
</div>