<div id="search-component" class="card">
        <div class="card-header">
            <i class="fa fa-search"></i><strong>Busca</strong>
        </div>
        <div class="card-body">
            <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
            <div>
              <div *ngFor="let commission of commissions | async" (click)="gotoDetail(commission)" class="search-result">
                {{commission.name}}
              </div>
            </div>
        </div>
</div>