<h2 class="headertekst">Todas as Cargos Administrativos</h2>
<div id="inner" style="float: left; width: 50%;">
  <app-position-search></app-position-search>
  <div>
    <label>Nome:</label> <input #positionName />
    <button (click)="add(positionName.value); positionName.value=''">
          Adicionar
        </button>
  </div>
  <button (click)="gotoForm()">Cadastro de novo cargo</button>
  <ul class="positions">
    <li *ngFor="let position of positions" (click)="onSelect(position)" [class.selected]="position === selectedPosition">
      <span class="badge">{{position.id}}</span>
      <span>{{position.name}}</span>
      <button class="delete" (click)="delete(position); $event.stopPropagation()">x</button>
    </li>
  </ul>
</div>
<div *ngIf="selectedPosition" style="float: left; width: 50%;">
  <h2>
    {{selectedPosition.name}}
  </h2>
  <span class="badge" style="white-space: pre-line"><b>Responsável:</b> </span><span>{{selectedPosition.inCharge}}</span><br><br>
  <button (click)="gotoDetail()">Ver Detalhes</button>
</div>