<div class="col-sm-8 mx-auto">
    <div class="card card-accent-primary">
        <div class="card-header">
            <strong>Novo cargo</strong>
        </div>
        <div class="card-body">
            <div [hidden]="submitted">
                <form (ngSubmit)="onSubmit()" #positionForm="ngForm">
                    <div class="form-group">
                        <label for="name">Nome</label>
                        <input type="text" class="form-control" id="name" required [(ngModel)]="position.name" name="name" #name="ngModel">
                        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                            O campo de nome é necessário!
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inCharge">Responsável</label>
                        <input type="text" class="form-control" id="inCharge" required [(ngModel)]="position.inCharge" name="inCharge" #inCharge="ngModel">
                        <div [hidden]="inCharge.valid || inCharge.pristine" class="alert alert-danger">
                            O campo de responsável é necessário!
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="commission">Comissão pertencente</label>
                        <input (keyup)="search(commission.value)" type="text" class="form-control" id="commission" required [(ngModel)]="position.commission"
                            name="commission" #commission="ngModel">
                        <div>
                            <div [hidden]="commission.valid || commission.pristine" class="alert alert-danger">
                                O campo de comissão é necessário!
                            </div>
                            <div *ngFor="let commission of commissions | async" (click)="selectCommission(commission.name)" class="search-result">
                                {{commission.name}}
                            </div>
                        </div>
                    </div>

                    <button type="submit" [disabled]="!positionForm.form.valid" class="btn btn-outline-success active"><i class="fa fa-dot-circle-o"></i> Cadastrar!</button>
                    <button (click)="goBack()" class="btn btn-outline-warning active"><i class="fa fa-ban"></i> Voltar</button>
                </form>
            </div>
        </div>
    </div>
</div>