<div class="animated fadeIn mx-auto">
  <div class="row mx-auto">
    <div class="col-sm-6">
      <!-- Full card -->
      <div class="card">
        <div class="card-header">
          <strong>Todos os semestres</strong>
        </div>
        <div class="card-body">
          <!-- First column -->
          <div class="col-sm-18">
            <!-- Search card-->
            <div class="row">
              <div class="col-sm-6">
                <app-semester-search></app-semester-search>
              </div>
              <!-- Quick add sub-card-->
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-header">
                    <strong>Cadastro rápido:</strong>
                  </div>
                  <div class="card-body">
                    <label>Nome:</label> <input #semesterName />
                    <button (click)="add(semesterName.value); semesterName.value=''">
                                                  Adicionar
                                            </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- List sub-card-->
            <div class="row">
              <div class="col-sm-7 mx-auto">
                <div class="card card border-info">
                  <div class="card-header">
                    <strong>Lista de semestres</strong>
                  </div>
                  <div class="card-body">
                    <ul class="semesters">
                      <li *ngFor="let semester of semesters" (click)="onSelect(semester)" [class.selected]="semester === selectedSemester">
                        <span class="badge">{{semester.id}}</span>
                        <span>{{semester.name}}</span>
                        <button class="delete" (click)="delete(semester); $event.stopPropagation()">x</button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Second column -->
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-8 mx-auto">
          <div *ngIf="selectedSemester" class="card text-white bg-primary">
            <div class="card-header">
              <strong>{{selectedSemester.name}}</strong>
            </div>
            <div class="card-body">
              <span class="badge" style="white-space: pre-line"><b>Semestre:</b> </span><span>{{selectedSemester.name}}</span><br><br>
              <button (click)="gotoDetail()" type="button" class="btn btn-outline-primary"><i class="fa fa-star"></i> Ver Detalhes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>